html, body{
    background-color: #eef2ff;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#app {
    max-width: 75rem;
    margin: 3.125rem auto;
    height:100vh;
    padding:1.25rem;
    display: flex;
  }